div {
	.div1 {
    color: white;
		background-color: purple;
		display: flex;
    align-items: center;

		justify-content: space-around;
		width: 500px;
		background-color: purple;
		border-radius: 30px;
		border: 2px solid black;
		margin: 30px;

	}
  button{
    background-color: purple;
    color: white;

  }
}
